<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous"
/>
<style>


    body{
        background-color:;
    }
    .task-update{
        background-color:#382e2e;
        border-radius:20px;
        margin-top:20px;
        width:800px;
        height:400px;


    }
    .head{
        margin-top:20px;
        text-align:center;
        fontsize:xxxlarge;
        color:white;       
    }
    .head h3{
        padding-bottom:20px;
        color:#dce918;
    }
    .details-page{
        display:flex;
        flex-direction:row;

    }
    label{
        color:green;
        font-size:20px;
    }
    .data-input{
        width:100%;
        text-align:center;
    }
    .data-input input[type=text]{        
        border-radius: 10px;
        border: 1px green;
        text-align: center;
        font-size: large;
        width:500px;
        height:60px;
        color:white;
        background-color:black;
        box-shadow:0 0 20px silver;
        }
    .data-input input[type=submit]{
        width:100px;
        background-color:#1beb1b;
        color:white;
        border:1px solid black;
        border-radius:5px;
        margin-left:10px;
    }
    .submit{
        margin:20px 0;
        width:130px;
        height:40px;
    }
    



</style>


<div class='conatiner-fluid update'>
    <div class='container task-update'>
        <div class='row'>
            <div class='col md-12 head'>                
                <h3> Update Your Task</h3>                 
            </div>
        </div>
        <div class='row details-page'>
            <div class='col md-12 data-input'>
                <form method='POST' action=''>
                    {% csrf_token %}
                    {{form}}
                    <input class='submit' type="submit" name ="Update Task"> 
                </form>   
            </div>
            {% comment %} <div class='col md-4 button-field'>
                <input type="submit" name ="Update Task"> 
            </div> {% endcomment %}
        </div>




    </div>



</div>

